.products, .cart, .wishlist, .cart-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 1rem;
}

.cart-container {
    justify-content: space-between;
    flex-wrap: nowrap;
}

.product, .cart-item, .wishlist-item {
    padding: 1rem;
    border-radius: 0.5rem;
    width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 1px 5px rgba(100, 100, 100, 0.77);
}

.cart-item, .wishlist-item {
    box-shadow: none;
}
.cart, .wishlist {
    flex-direction: column;
    box-shadow: 0 1px 5px rgba(100, 100, 100, 0.77);
    border-radius: 0.5rem;
    margin: 2rem 1rem;
}

.product img, .cart-item img, .wishlist-item img {
    width: 100%;
    aspect-ratio: 4/5;
}

h2 {
    padding-left: 1rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid rgba(227, 227, 227, 0.77);
}

button {
    color: white;
    background-color: #006eff;
    outline: none;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 0.5rem;
    transition: 0.6s 0.2s;
    cursor: pointer;
}

button:hover {
    opacity: 0.7;
}

.btns {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.checkout {
    margin: 1rem 0;
    flex-direction: column;
    width: 30%;
    padding: 0 1rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 1px 5px rgba(100, 100, 100, 0.77);
}

.checkout>p {
    border-bottom: 2px solid rgba(227, 227, 227, 0.77);
    font-weight: 500;
    padding-bottom: 0.5rem;
}

.checkout div {
    display: flex;
    justify-content: space-between;
    gap: 0 2rem;
}

.cart {
    width: 60%;
}

.total {
    border-top: 2px solid rgba(227, 227, 227, 0.77);
    font-weight: 600;
}

.checkout button {
    width: 100%;
}
